:root{
  --main-bg-color:#790c5a;
  --secondary-bg:#cc0e74;
  --p-font-col:#e68daf;
  --s-font-col:#ffb2a7;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "RedLipstick-PersonalUse";
  src: url("fonts/RedLipstick.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 10px  !important;
  background:var(--secondary-bg) !important;
}

.hero{
  background: url('img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.hero h1{
  margin-top: 120px; 
  font-family:'RedLipstick-PersonalUse';
  font-size: 4em;
  color: #18000c;
}

#logo_text{
  font-family:'RedLipstick-PersonalUse';
  font-size: 2.5em;
}

@media(max-width:400px){
  .hero h1{
    margin-top: 80px; 
  }
  
}

.highlight{
  color: var(--secondary-bg) !important;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* removing btns from slick sliders  */

.autoplay button{
  display: none !important;
}

/* center banner */

.center-banner{
  height: 600px;
  background: url(img/banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
}