:root {
  --main-bg-color: #790c5a;
  --secondary-bg: #cc0e74;
  --p-font-col: #e68daf;
  --s-font-col: #ffb2a7;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "RedLipstick-PersonalUse";
  src: url("fonts/RedLipstick.woff") format("woff");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 10px !important;
  background: linear-gradient(110deg, #231a25, #70063f);
}

.navbar .nav-item {
  padding: 10px 40px;
  transition: ease-in-out 300ms;
  text-align: center;
}

.navbar .nav-item :hover,
.navbar .nav-item:active {
  text-decoration: underline 1px solid !important;
  transition: ease-in-out 300ms;
  background: #790c5a86;
}

/* hero */

.hero {
  background: url('img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.hero h1 {
  margin-top: 120px;
  font-family: 'RedLipstick-PersonalUse';
  font-size: 4em;
  color: #18000c;
}

.btn-primary {
  transition: ease-in-out 300ms;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #790c5a !important;
  transition: ease-in-out 300ms;
}

#logo_text {
  font-family: 'RedLipstick-PersonalUse';
  font-size: 2.5em;
}

@media(max-width:400px) {


  .navbar .nav-item {
    padding: 0;
    margin: 0;
  }

  .navbar-nav{
    margin-right: 0 !important;
  }

  .hero h1 {
    margin-top: 10px;
  }

  #typed {
    height: 320px;
  }
}

.highlight {
  color: var(--secondary-bg) !important;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* removing btns from slick sliders  */

.autoplay button {
  display: none !important;
}

.slick-slide {
  outline: none;
}


/* care tag or highlight  */

.care-tag {
  font-size: 1em;
  background: #cc0e7393;
  padding: 10px 20px;
  border-radius: 15px 15px 15px 0;
  color: aliceblue;
}


.description-text {
  background: #eeeeee8c;
  border-radius: 0 20px 0 20px;
  opacity: 0;
  height: 0px;
  transition: ease-in-out 300ms;
}


/* highlighting sibling  */

.care-tag:focus,
.care-tag:hover~.description-text {
  margin: 20px;
  padding: 20px;
  opacity: 1;
  height: auto;
  transition: ease-in-out 300ms;
}

/* center banner */

.center-banner {
  height: 600px;
  background: url(img/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.cursive-container {
  /* background: red; */
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.lipstick {
  margin-top: 200px;
  text-align: center;
  font-family: 'RedLipstick-PersonalUse';
  font-size: 5em;
  color: #350101;
}

@media(max-width:768px) {
  .cursive-container {
    width: 60%;
  }

  .lipstick {
    font-size: 3em;
    margin-top: 50px;
    margin-left: 150px;
  }
}


@media(max-width:411px) {
  .cursive-container {
    width: 90%;
  }

  .lipstick {
    font-size: 2.5em;
    margin-top: 50px;
    margin-left: 250px;
  }
}

/* for modal  */

/**
 * Variables
 */
/**
 * Base styles
 */

h1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 60px 0 30px 0;
  color: #fff;
}

button:focus {
  outline: none;
}

/**
  * Overlay
  * -- only show for tablet and up
  */
@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

/* course content flexbox */

.course-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.course-content .card {
  border-radius: 8px;
  padding: 40px 20px;
  margin: 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(240, 183, 240, 0.38);
  -moz-box-shadow: 1px 1px 20px 1px rgba(240, 183, 240, 0.38);
  box-shadow: 1px 1px 20px 1px rgba(240, 183, 240, 0.38);
  transition: ease-in-out 300ms;

}

.course-content .card:hover,
.course-content .card:active {
  -webkit-box-shadow: 1px 1px 10px 4px rgba(237, 173, 237, 0.7);
  -moz-box-shadow: 1px 1px 10px 4px rgba(237, 173, 237, 0.7);
  box-shadow: 1px 1px 10px 4px rgba(237, 173, 237, 0.7);
  transition: ease-in-out 300ms;
  background: #fdecf3;
}

.course-content .card .title h2 {
  font-size: 1.4em;
}



/**
  * Modal
  */
.modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}

.modal .modal-content {
  background: #fad3e2;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.modal .modal-content * {
  padding: 10px;
  margin: 10px;
}

.form-input {
  border: 0;
}


.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 1;
}

/**
  * Mobile styling
  */
@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}

/* certificate  */

.certificate-card img {
  -webkit-box-shadow: 10px 10px 76px -32px rgba(255,234,0,0.69);
  -moz-box-shadow: 10px 10px 76px -32px rgba(255,234,0,0.69);
  box-shadow: 10px 10px 76px -32px rgba(255,234,0,0.69);
}

@media(max-width:670px) {

  .certificate-card {
    width: 100vw;
  }

  .certificate-card img {
    width: 90%;
  }


}

/* footer  */

section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-area {
  border-bottom: 1px solid #cc0e74;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #cc0e74;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #cc0e74;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #473543;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social>ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #f3d8e2;
  color: #f3d8e2;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #FAB702;
  color: #FAB702;
}

.contact-content img {
  max-width: 210px;
}

section,
footer {
  background: linear-gradient(110deg, #231a25, #70063f);
  color: #f3d8e2;
}

footer p {
  margin-bottom: 0;
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}


/* preloader  */

